*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 1em;
  /*   padding: 1em; */
}
header{
    background-color: rgb(119, 166, 182);
    display: flex;
    height: 75px;
    position: relative;
    align-items: center;
    
    .Cuadrado {
        width: 335px;
        height: 75px;
        background: rgb(186, 233, 248);
        position: absolute;
        top: 0px;  
        left: 0x; 
    }
    
    .minibotones{
        width: 150px;
        height: 19px;
        background: rgb(255, 255, 255);
        position: absolute;
        top: 25px;   
        right: 350px;
    }
    .minibotones2{
        width: 150px;
        height: 19px;
        background: rgb(255, 255, 255);
        position: absolute;
        top: 25px;   
        right: 170px;
    }
    .miniminiboton{
        width: 100px;
        height: 19px;
        background: rgb(238, 130, 41);
        position: absolute;
        top: 25px;   
        right: 40px;
    }
}

nav{
    .Cuadradoqestaporahi{
        background-color: rgb(196, 194, 194);
        width: 275px;
        height: 275px;
        position: absolute;
        top: 130px;  
        left: 60px;
    }
    
    .cuadradodelcuadrado{
        background-color: rgb(173, 172, 172);
        width: 130px;
        height: 130px;
        position: absolute;
        top: 74px;  
        left: 70px;
    }
    
    .Lineas{
        background-color: rgb(182, 182, 182);
        position: absolute;
        width: 190px;
        height: 6px;
        top: 115%;
        left: 40px;
    }
    .Lineas::before,
    .Lineas::after { /*Busque como hacer la copia de un elemento sin tener q agregar otros dos div*/
        content: '';
        position: absolute;
        width: 190px;
        height: 6px;
        background-color: rgb(182, 182, 182);
        left: 0;
    }
    .Lineas::before {
        top: -15px; 
    }
    .Lineas::after {
        top: 15px; 
    }
    
    .CuadradoL{
        background-color: rgb(78, 78, 78);
        width: 120px;
        height: 25px;
        position: relative;
        top: 390px;  
        left: 135px;
    }
    .LineaDentroDelCuadrado{
        background-color: rgb(182, 182, 182);
        width: 70px;
        height: 5px;
        position: absolute;
        top: 491px;  
        left: 160px;
        z-index: 1;
    }
    
    .Cuadrado1delNav{
        background-color: rgb(53, 53, 53);
        width: 275px;
        height: 275px;
        position: absolute;
        top: 58%;  
        left: 60px; 
    }
    
    .Cuadrado2delNav{
        background-color: rgb(255, 196, 0);
        width: 275px;
        height: 275px;
        position: absolute;
        top: 91%;  
        left: 60px; 
    }
}
